<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean class="com.springcore.springcore.Shinjini" name="sini">
		<property name="name" value="Shinjini Bhatacharjee" />
		<property name="clg" value="Vidyasagar College" />
	</bean>

	<bean class="com.springcore.springcore.Suvendu" name="suvu">
		<property name="roll" value="412" />
		<property name="name" value="Suvendu Chowdhury" />
		
		<!-- <property name="crush"> <ref bean="sini" /> </property> -->
		
		<property name="crush" ref="sini"/>
		
		<property name="clg" value="MMCC" />
	</bean>



	<bean class="com.springcore.springcore.MyCollection"
		name="employee1">
		<property name="name" value="Supratim Majumder" />

		<property name="phone">
			<list>
				<value>9674289220</value>
				<value>8697757110</value>
				<value>8981702261</value>
				<null />
			</list>
		</property>

		<property name="address">
			<set>
				<value>Dunlop</value>
				<value>BT Road</value>
			</set>
		</property>

		<property name="course">
			<map>
				<entry key="Python" value="1 Month" />
				<entry key="Java" value="1 Year" />
			</map>
		</property>
	</bean>


	<!-- Fast Bean -->
	<bean class="com.springcore.springcore.Students" name="student1"
		p:roll="412" p:name="Rahul" p:marks="76" />


	<!-- Second Bean -->
	<bean class="com.springcore.springcore.Students" name="student2">
		<property name="roll" value="411" />
		<property name="name" value="Supratim Majumder" />
		<property name="marks" value="83.0" />
	</bean>

	<!-- Third Bean -->
	<bean class="com.springcore.springcore.Students" name="student3">
		<property name="roll" value="420" />
		<property name="name" value="Hritik Dey" />
		<property name="marks" value="84.0" />
	</bean>


</beans>
